.bg-sage {
  background-color: #9CAF88;
}

.bg-charcoal {
  background-color: #858A70;
}

button {
  border: 0px;
  font-size: 3vh;
  font-family: "Arial", fantasy;
  font-weight: bold;
}

li {
  font-size: 2.5vh;
  font-family: "Arial", fantansy;
}

button:hover {
  background-color: #919876;
}

h1 {
  font-size: 20vh;
  text-align: left;
  font-family: "Monaco", fantasy;
}

h2 {
  font-size: 15vh;
  text-align: left;
  font-family: "Monaco", fantasy;
}

h4 {
  font-size: 5vh;
  text-align: left;
  font-family: "Arial", fantasy;
}

p {
  font-family: "Arial", fantasy;
  font-size: 3vh;
}

.dropdown-item:hover {
  background-color: #919876;
  color: white;
}

.dropdown-menu {
  border: 0px;
  padding: 0px;
}

.dropdown-item {
  color: #858A70;
}

.bg-image {
  background-image: var(--link);
  filter: blur(8px);
  -webkit-filter: blur(var(--blur));
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(var(--dist));
  }

  to {
    opacity: var(--o);
    transform: translateY(0);
  }
}

@keyframes transitionIn2 {
  0% {opacity: 0; transform: translateY(50px)}
  50% {opacity: 0; transform: translateY(50px)}
  100% {opactiy: 0; transform: translateY(0px)}
}

@keyframes transitionIn3 {
    0% {opacity: 0; transform: translateX(40px)}
    60% {opacity: 0; transform: translateX(40px)}
    100% {opactiy: 0; transform: translateX(0px)}
  }


.animate {
  animation: transitionIn 1s;
}

.animate2 {
  animation: transitionIn2 1.5s;
}

.animate3 {
  animation: transitionIn3 2s;
}

.text {
  --o: 1;
  --dist: 80px;
}

.middle {
  --x: 40px;
  --blur: 4px;
}

.back {
  --x: 10px;
  --blur: 10px;
}

.front {
  --x: 70px;
  --blur: 1.5px
}

.down {
  --dist: calc(var(--x) * -1)
}

.up {
  --dist: var(--x);
}

.hide {
  display: none;
}
